<mat-toolbar>Registro de Consulta</mat-toolbar>

<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="Selcciona paciente"  [(value)]= "idPacienteSeleccionado" >
            <mat-option *ngFor="let p of pacientes$ | async" [value]="p.idPaciente">
                    {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Selcciona medico"  [(value)]= "idMedicoSeleccionado" >
            <mat-option *ngFor="let p of medicos$ | async" [value]="p.idMedico">
                    {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Selcciona especialidad"  [(value)]= "idEspecialidadSelecionado" >
            <mat-option *ngFor="let p of especialidad$ | async" [value]="p.idEspecialidad">
                    {{p.nombre}} 
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge fecha" [max]="maxFecha"
            [(ngModel)]="fechaSeleccionada" (dateChange)="cambieFecha($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


</div>